$nano-prefix: 'nano';

$white: #ffffff;
$black: #000000;

$primary-color: #007aff; // 全局主色
$primary-hover-color: #409cff;
$primary-active-color: #409cff;


$error-color: #ff3b30; // 错误颜色
$disabled-color: rgba(0, 0, 0, 0.25); // 失效色

$heading-color: #333333; // 标题色
$text-color: #666666; // 主文本色
$text-color-secondary: #69696e; // 次文本色

$link-color: #007aff;
$link-hover-color: #409cff;
$link-active-color: #409cff;

$border-radius-base: 4px; // 组件/浮层圆角
$border-color-base: rgb(199,199,204);

$font-size-base: 14px; // 主字号
$line-height-base: 1.15;
